body{
  z-index:-3;
  position:absolute;
  width:100%;
  height:100%;
}

.image:hover {opacity: 0.7;} 

div { text-align: center; }
div.item {
  display: inline-block;
  text-align: center;
  width: 110px;
}
.caption { display: block; }

.box{	  
  width: 1380px;
  height: 800px;
  z-index:-2;
  border: 3px solid black;
  background-color: #e3f6f5;    
}

.disable { opacity: 0.5; }  

.ins{
  position: absolute;
  top:11%;
  right:95px;
  background-color:#ffd803;
  color:#272343;
  border-radius: 6px;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}
.ins:hover {
  background-color: #bae8e8;
  color: #000;
  align-content: center;
}
.ins:hover a{ color: #000; }

.dropdown-content {
  display:none;
  position: absolute;
  margin-left:75%;
  margin-top: 1%;
  background-color: white;
  width: 340px;
  height: auto;
  border:4px;
  border-radius: 4px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 15px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,1,1);
  z-index: 1;
  overflow: auto;
}
.dropdown-content p:hover {background-color: #e3f6f5}
.show {display:block;}

.block{ display: none; }

.footer{
  position:absolute;
  top:797px;
  left: -4px;
  width: 1381px;
  background-color: black;
  color: white;
  text-align: center; 
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.components{   
  border-radius: 5px;
  margin-left:50px;
  margin-top:10px;
  width:1200px;
  height:auto;
  font-size: 20px;
  font-family: sans-serif;
}
 
#mid {
  margin-top: 1rem;
  margin-left: -15rem;
  align-items: center;
  display: inline-block;
  height: 500px;
  width: 900px;
  box-shadow: 2px 4px 6px #262626;
  border-radius: 4px;
  background-image: url('../images/bg.jpg');
  position: relative;      
  overflow: hidden;        
}
 
#PCH1 { position:absolute; top:  20px; left: 400px; visibility:hidden; }  
#PCH2 { position:absolute; top: 100px; left: 780px; visibility:hidden; }  
#PCH3 { position:absolute; top: 100px; left:  70px; visibility:hidden; }  
#PCH4 { position:absolute; top: 330px; left:  70px; visibility:hidden; }  
#PCH5 { position:absolute; top: 330px; left: 780px; visibility:hidden; }  

 
#LAPH1 { position:absolute; top:  30px; left: 400px; visibility:hidden; }
#LAPH2 { position:absolute; top: 100px; left: 780px; visibility:hidden; }
#LAPH3 { position:absolute; top: 100px; left:  70px; visibility:hidden; }
#LAPH4 { position:absolute; top: 330px; left:  70px; visibility:hidden; }
#LAPH5 { position:absolute; top: 330px; left: 780px; visibility:hidden; }

 
#HUBH1 { position:absolute; top: 170px; left: 400px; visibility:hidden; }  
#HUBH2 { position:absolute; top: 330px; left: 400px; visibility:hidden; }  
 
#SWH1 { position:absolute; top: 170px; left: 400px; visibility:hidden; }   
#SWH2 { position:absolute; top: 330px; left: 400px; visibility:hidden; }   
 

.sw {
  font-size: 0.9em;
  font-weight: bold;
}


#starImg {
  size: 10px;
}
 #myModal .modal-content {
  width: min(240px, 80vw);
  height: auto;
 
}